.keywordWrap {
  width: 70%;
  margin: auto;
  margin-top: 5vh;
}
.keywordBtn {
  width: 70px;
  height: 40px;
  background-color: none;
  border-color: #f95700;
  border-width: 2px;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: 800;
  background-color: white;
}
.keywordWrap > button {
  margin-right: 1vw;
  margin-bottom: 2vh;
}
.postscript,
.holePostscript {
  cursor: pointer;
}
