.searchForm {
  width: 40%;
  margin: auto;
  display: flex;
  min-width: 600px;
  margin-top: 10vh;
}
.searchInput {
  width: 100%;
  border: none;
  border-bottom: 3px solid black;
  font-size: 3rem;
}
.searchBtn {
  width: 100px;
  font-size: 1.6rem;
  border-radius: 14px;
  margin-left: 10px;
  border: none;
}
