.resultWrap {
  width: 80%;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-around;
}
.searchResultCard {
  width: 20%;
  height: 20vh;
  border: 1px solid black;
  margin-bottom: 1vh;
}
